#audio-player-container::before {
    position: absolute;
    content: '';
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(to left, #007db5, #ff8a00);
    z-index: -1;
    position: fixed;
    bottom: 5%;
    right: 0px;
  }
  p {
    position: absolute;
    top: -18px;
    right: 5%;
    padding: 0 5px;
    margin: 0;
    font-size: 28px;
    background: #fff;
  }
  #play-icon {
    margin: 20px 2.5% 20px 2.5%;
  }
  path {
    stroke: #007db5;
  }